.card{
    width: fit-content !important;
    padding: .5rem;
    background-color: #223142 !important;
    color:whitesmoke;
    border-radius: 8px;
    margin: 5px;
}

.card>img{
    width: 100%;
}

.list-group-item{
    color: whitesmoke !important;
    background-color: transparent !important;
}

.btn {
    background-color: #6ECCAF !important;
    color: #344D67!important;
    
    /* width: fit-content; */
}
